[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype.git
	ignore = dirty
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
	ignore = dirty
[submodule "vendor/libepoxy"]
	path = vendor/libepoxy
	url = https://github.com/anholt/libepoxy.git
	ignore = dirty
[submodule "vendor/miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
	ignore = dirty
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
	ignore = dirty
[submodule "vendor/gl3w"]
	path = vendor/gl3w
	url = https://github.com/skaslev/gl3w
[submodule "vendor/SDL_GameControllerDB"]
	path = vendor/SDL_GameControllerDB
	url = https://github.com/mdqinc/SDL_GameControllerDB.git
